@import "variables.scss";

@mixin border-gradient-avatar {
  border-left: 2 solid #82b4ff;
  border-right: 2 solid #bff0ff;
  background-image:
    // Needed for both the top and bottom borders
    -webkit-linear-gradient(135deg, #82b4ff, #bff0ff), -webkit-linear-gradient(135deg, #82b4ff, #bff0ff);
  background-size: 100% 2;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

$gradients: () !default;
$gradients: map-merge(
  (
    lime: linear-gradient(to right, #ffe597 0%, #aaff82 100%),
    mint: linear-gradient(to right, #c0f0ff 0%, #a9fe81 100%),
    sky: linear-gradient(to right, #82b4ff 0%, #bff0ff 100%),
    peach: linear-gradient(to right, #ffe598 0%, #fbae95 100%),
    sunset: linear-gradient(to right, #fbae95 0%, #ab83fe 100%),
    trackli: linear-gradient(135deg, #ff3e5b 0%, #fbae95 100%),
    certi: linear-gradient(135deg, #ff942f 0%, #ffeaac 100%),
    philips: linear-gradient(135deg, #3378d1 0%, #bff0ff 100%),
    zallpy: linear-gradient(135deg, #11f175 0%, #c1ffd8 100%),
  ),
  $gradients
);

@mixin border-gradient-sky($parent) {
  #{$parent} {
    background: linear-gradient($background-color, $background-color) padding-box,
      linear-gradient(to right, #82b4ff, #bff0ff) border-box;
    border-radius: 120px;
    border: 2px solid transparent;
  }
}

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}

// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin link-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Gradient Classes
@each $gradient, $value in $gradients {
  @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

// Gradient Classes
@each $gradient, $value in $gradients {
  @include text-gradient(".text-gradient-#{$gradient}", $value);
}

// Gradient Classes
@include border-gradient-sky(".border-gradient-sky");
