@import "mixins.scss";
@import "variables.scss";

// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Fira%20Code:wght@300..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=DM%20Sans:wght@300..700&display=swap);

// Typography
h1,
h2,
h3 {
  font-family: $fira-code;
}

h1 {
  font-size: 1.3rem;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

h3 {
  font-size: 1.1rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

p,
h4,
li {
  font-family: $dm-sans;
}

// Remove ul fuckery
ul {
  list-style: none;
  padding: 0px;
}

// IMPORTANT!
// CSS IS MOBILE-FIRST!
body {
  background-color: $background-color;
  font-family: $font-stack;
  font-size: 1rem;
  color: #f5f5f5;
  margin: 3em 2em 3em 2em;
}

.introduction {
  text-align: center;
  margin: 0 1em 5em 1em;

  h1 {
    font-weight: 500;
  }

  span {
    font-weight: 700;
  }

  img {
    padding: 2px;
    max-width: 10rem;
    margin-bottom: 2rem;
    border-radius: 100%;
    outline: 2px solid black;
    outline-offset: -4px;
    @include border-gradient-avatar-sky();
  }
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.skills {
  margin-bottom: 5rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    display: inline-block;
    padding: 0px 16px;
    line-height: 32px;
    margin-bottom: 8px;

    span {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}

.journey {
  article {
    margin-bottom: 5rem;
  }

  h1 {
    margin-bottom: 0.25rem;
  }

  header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;

    div {
      flex: 1 0 70%;
    }

    picture {
      flex: 0 1 30%;
      align-self: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }
}

// SENAI
.senai {
}

// Desktop
@media (min-width: 600px) {
  .sales-points {
    display: flex;
    justify-content: space-between;
  }

  .sales-point {
    width: 30%;
  }
}
