@import "mixins.scss";
@import "variables.scss";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");

// Typography
h1,
h2,
h3 {
  font-family: $ibm-plex;
}

h1 {
  font-size: 1.3rem;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

h3 {
  font-size: 1.1rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

// Remove html fuckery
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline dotted #f5f5f5;
  -webkit-text-decoration-line: underline !important;
  -webkit-text-decoration-color: #f5f5f5 !important;
  -webkit-text-decoration-style: dotted !important;
}

// hide desktop items
.desktop {
  display: none;
}

// IMPORTANT!
// CSS IS MOBILE-FIRST!
body {
  font-family: $font-stack;
  background-color: $background-color;
  font-size: 0.9rem;
  color: #f5f5f5;
  margin: 3em 2em 3em 2em;
}

.introduction {
  text-align: center;
  margin: 0 1em 5em 1em;

  h1 {
    font-weight: 400;
  }

  span {
    font-weight: 700;
  }

  picture {
    border-radius: 100%;
    -webkit-border-radius: 100%;
  }

  img {
    padding: 2px;
    max-width: 7rem;
    margin-bottom: 2rem;
    border-radius: 100%;
    outline-offset: -4px;
    @include border-gradient-avatar();
  }
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}

.skills {
  margin-bottom: 5rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    display: inline-block;
    padding: 0px 16px;
    line-height: 32px;
    margin-bottom: 8px;

    span {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}

.journey {
  article {
    margin-bottom: 5rem;
  }

  h1 {
    margin-bottom: 0.25rem;
    font-weight: 700;
  }

  header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;

    div {
      flex: 1 0 70%;
    }

    picture {
      flex: 0 1 30%;
      align-self: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }
}

.info-bits {
  li {
    background: #282828;
    border: 1px solid #363636;
    border-radius: 8px;
    padding: 15px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  li:nth-of-type(1) {
    margin-top: 1.5rem;
  }

  li:nth-last-child(1) {
    margin-bottom: 0;
  }
}

footer {
  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    flex: 0 1 27%;
    font-size: 0.8rem;
    text-align: center;

    > a {
      color: white;
      text-decoration: none;
      font-size: 1.7rem;
    }
  }
}

// Desktop
@media (min-width: 600px) {
  .sales-points {
    display: flex;
    justify-content: space-between;
  }

  .sales-point {
    width: 30%;
  }
}
