// Constant colors
$background-color: #0d0d0d;

// Font Variables
/* $fira-code: "Fira Code", serif; */
$ibm-plex: "IBM Plex Mono", monospace;
$dm-sans: "DM Sans", sans-serif;
$font-stack: $ibm-plex, /* $fira-code, */ $dm-sans -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
