@use 'sass:map';
@import 'variables.scss';

$gradients: () !default;
$gradients: map-merge(
  (
    lime: linear-gradient(to right, #ffe597 0%, #aaff82 100%),
    mint: linear-gradient(to right, #c0f0ff 0%, #a9fe81 100%),
    sky: linear-gradient(to right, #82b4ff 0%, #bff0ff 100%),
    peach: linear-gradient(to right, #ffe598 0%, #fbae95 100%),
    sunset: linear-gradient(to right, #fbae95 0%, #ab83fe 100%),
    trackli: linear-gradient(135deg, #ff3e5b 0%, #fbae95 100%),
    certi: linear-gradient(135deg, #ff942f 0%, #ffeaac 100%),
    philips: linear-gradient(135deg, #3378d1 0%, #bff0ff 100%),
    zallpy: linear-gradient(135deg, #11f175 0%, #c1ffd8 100%),
  ),
  $gradients
);

@mixin border-gradient-sky {
  background:
    linear-gradient($background-color, $background-color) padding-box,
    map.get($gradients, 'sky') border-box;
  border-radius: 120px;
  border: 2px solid transparent;
}

@mixin border-gradient-sunset {
  background:
    linear-gradient($background-color, $background-color) padding-box,
    map.get($gradients, 'sunset') border-box;
  border-radius: 120px;
  border: 2px solid transparent;
}

@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@each $gradient, $value in $gradients {
  @include text-gradient('.text-gradient-#{$gradient}', $value);
}

.border-gradient-sky {
  @include border-gradient-sky();
}

.border-gradient-sunset {
  @include border-gradient-sunset();
}
