// Constant colors
$background-color: #0d0d0d;

// Font Variables
$sora: 'Sora', sans-serif;
$dm-sans: 'DM Sans', sans-serif;
$nanum-pen: 'Nanum Pen Script', cursive;
$font-stack:
  $dm-sans,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
